body {
    /*background-color: #3ca362;*/
    /*background-color: #6C9036;*/
    background-color: #B9C058;
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom; 0px;
    padding-top: 0px;
}

.caption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 90%;
    color: white;
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);

}

.container.gallery-container {
    /*background-color: #424040;*/
    /*background-color: #473d36;*/
    background: linear-gradient(#424040, #2b2521);
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: inset 0 -50px 50px -50px #111111;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Palatino', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 50px;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #ed8a21;
    font-size: 25px;
    font-family: 'Palatino', sans-serif;
}

.tz-gallery {
    padding: 40px;

}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

img {
  background-color: #a8a4a4;
}

.hero-image {
    background-image: url("Doug_Middle_Earth_Banner2.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0px 10px 20px #232222;
}

.hero-image2 {
    background-image: url("Doug_Middle_Earth_Lower_Banner.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 10px 0px 20px #232222;

}

.hero-text {
    text-align: left;
    position: absolute;
    top: 55%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: black;
}

.hero-text h1 {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 28px;
}

.hero-text2 {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.logo{
  width: 36%;
  background-color: inherit;
}
* {
  border-radius: 0 !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .hero-text {
      left: 45%;
    }

    .caption {
      display: none;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}
